body {
  margin: 0;
  width: 100%;
}

.nav-list {
  margin: 0;
  height: 80px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(19, 138, 92);
  box-shadow: rgb(65, 59, 59) 0px 0px 20px 0px;
}

.section1 {
  width: 100%;
}
.section1 .employees {
  background-color: rgb(126, 126, 121);
  color: black;
  width: 94%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  margin-left: 2%;
  padding: 2%;
}
.section1 .employees .employee {
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 6px 15px black;
  border-radius: 10px;
  width: 330px;
  height: 120px;
  border: 2px rgb(2, 233, 144) solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
}
.section1 .employees .employee img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px rgb(19, 138, 92) solid;
}
.section1 .employees .employee .ids {
  display: flex;
  gap: 2px;
  flex-direction: column;
  justify-content: center;
  border: 2px rgb(19, 138, 92) solid;
  height: 83%;
}
.section1 .employees .employee .ids strong:nth-child(1) {
  color: rgb(19, 138, 92);
}
.section1 .employees .employee .ids p {
  margin: 0;
}

.section2 {
  width: 29%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  background-color: rgb(126, 126, 121);
  margin-left: 2%;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 1% 0;
}
.section2 h1 {
  color: white;
}
.section2 .interviews {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section2 .interviews .interview {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgb(65, 59, 59) 0px 0px 20px 0px;
  padding: 1%;
}
.section2 .interviews .buttons {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
}
.section2 .interviews .buttons .accept {
  color: white;
  background-color: rgb(2, 255, 108);
  width: 40%;
  height: 100%;
  border: 2px solid rgb(2, 255, 108);
}
.section2 .interviews .buttons .reject {
  color: white;
  background-color: rgb(185, 35, 29);
  width: 40%;
  height: 100%;
  border: 2px solid rgb(185, 35, 29);
}
.section2 .interviews .buttons .postpone {
  color: white;
  background-color: rgb(185, 104, 29);
  width: 40%;
  height: 100%;
  border: 2px solid rgb(185, 104, 29);
}

.add {
  margin-bottom: 1%;
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  left: 82%;
}
.add button {
  background-color: rgb(19, 138, 92);
  border: 2px solid rgb(19, 138, 92);
  color: white;
  font-weight: bold;
  width: 95px;
  height: 35px;
  cursor: pointer;
}

#employeeModal {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid blueviolet;
  position: fixed;
  background-color: white;
  top: 16%;
  left: 40%;
  border-radius: 10px;
}

.modal_header {
  border-radius: 6px 6px 0px 0px;
  background-color: rgb(19, 138, 92);
}

.modal_header_content {
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: large;
  font-weight: bold;
}

#confirmBtn {
  margin: 20px;
  float: right;
}

.formVals {
  padding: 0 42px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}
.formVals br {
  display: none;
}

label {
  margin-top: 21px;
}

input {
  width: 70%;
  height: 35px;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

#confirmBtn {
  text-decoration: none;
  border: none;
  text-align: center;
  padding: 8px 12px;
  color: white;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #36bc65;
}

#interviewModal {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid blueviolet;
  position: fixed;
  background-color: white;
  top: 16%;
  left: 40%;
  border-radius: 10px;
  border-width: 2px;
  border: blueviolet solid;
}/*# sourceMappingURL=style.css.map */